@import 'src/styles/settings/reset';
@import 'src/styles/settings/mixins';
@import 'src/styles/settings/fonts';
@import 'src/styles/settings/variables';
@import 'src/styles/settings/elements';

// components
@import 'src/styles/components/header';
@import 'src/styles/components/footer';
@import 'src/styles/components/featuredCard';
@import 'src/styles/components/cardContent';
@import 'src/styles/components/tag';
@import 'src/styles/components/buttons';
@import 'src/styles/components/premiumBanner';
@import 'src/styles/components/articlesList';
@import 'src/styles/components/articleCard';
@import 'src/styles/components/modals';
@import 'src/styles/components/comments';

/* Hide scrollbar for all browsers */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* for Internet Explorer, Edge */
    scrollbar-width: none;  /* for Firefox */
}