// colors
$primary: #2cbcff;
$dark: #001722;
$darkBorder: #113f55;
$danger: #ff2cb5;

// screen sizes
$tablet: 1024px;
$mobile: 768px;
$mobileSmall: 440px;

// fonts
$sans: 'Alegreya Sans', sans-serif;
$serif: 'Alegreya', serif;
