.articleCard {
  display: flex;
  background-color: black;
  border-radius: 6px;
  overflow: hidden;
  position: relative;

  &:hover {
    .articleCard__imgBox img {
      transform: scale(1);
    }

    .cardContent__title {
      color: $primary;
    }
  }

  @include media($mobileSmall) {
    display: block;
  }
}

.articleCard__imgBox {
  flex: 1.2;
  position: relative;
  overflow: hidden;

  @include media($mobileSmall) {
    min-height: 160px;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.07);
    transition: 500ms;
  }
}

.articleCard__body {
  padding: 20px;
  flex: 2;
}
